* {
    box-sizing: border-box;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
    margin-top: 30px;
}

.navbar-default .container {
    /* background-color: #fff; */
    border-radius: 10px;
    padding-top: 20px;
}

.navbar {
    border-radius: 0;
    height: 82px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

@media (max-width:768px) {
    .navbar-default .navbar-nav > li > a {
        color: #2e2e2e
    }
}

.navbar-brand > img {
    height: 80px;
}

.navbar-default .navbar-brand {
    padding: 0px 15px;
    height: 80px;
    margin-top: -10px;
}

.navbar-right {
    /* margin-top: 20px; */
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.carousel-inner img {
    opacity: .7;
}

.carousel-caption {
    width: 100%;
    right: auto;
    text-align: center;
    /* margin: 20px 0; */
    top: 50%;
    padding: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h2 {
    font-size: 34px;
    margin-bottom: 26px;
}

.carousel-caption p {
    font-size: 21px;
}

.carousel-caption h2,
.carousel-caption p {
    line-height: 36px;
}

.carousel-caption .button {
    background-color: #d11121;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    display: block;
    width: 120px;
    margin-top: 24px;
    border-radius: 5px;
    display: inline-block;
}



@media (max-width: 767px) {
    .navbar-collapse {
        background-color: rgb(245, 245, 245);
        text-align: center !important;
    }
    .carousel-caption {
        background-color: transparent;
        top: 40%;
    }
    .carousel-caption h2 {
        font-size: 18px;
    }
    .carousel-caption p {
        font-size: 16px;
        line-height: 24px
    }
}

@media (max-width: 576px) {
    .navbar-brand > img {
        height: 65px;
    }
    .carousel-inner,
    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img {
        height: 400px;
    }
    .cho-div {
        float: none;
        width: 100%;
    }
    .cho-div h2:after {
        background-color: transparent;
    }
    .product .nav-tabs > li {
        padding: 5px;
    }
}

/***choose***/

.choose {
    height: 150px;
}

.cho-div {
    float: left;
    width: 20%;
    text-align: center;
    height: 250px;
    padding: 50px 0;
}

.cho-div:hover {
    background-color: #d11121;
    color: #fff;
}

.cho-div h2 {
    font-size: 60px;
    position: relative;
}

.cho-div h2:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 50px;
    height: 1px;
    bottom: 0;
    right: 39%;
}

.cho-div h2:hover:after {
    background-color: #fff;
}

/**End choose**/

/**About**/

.about {
    height: auto;
    padding: 60px 0;
}

.about h2 {
    color: #e2001a;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
}

.about .row {
    display: flex;
    align-items: center;
    align-content: center;
}



.about-cont {
    color: #fff;
}



.about-cont p {
    font-size: 18px;
    line-height: 30px;
    color: #74787D;
}

.about-img {
    background-image: url(../images/about.jpg);
    height: 100%;
    min-height: 420px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 9;
}

.about-img:before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;

    border: 5px solid #fff;
    box-shadow: 0 0 64px 5px rgba(0, 0, 0, 0.07);

}

.about_button {
    padding: 10px 14px;
    border: 1px solid #2e2e2e;
    color: #2e2e2e;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
    margin-top: 15px;
    display: inline-block;
}

.about_button:hover {
    background-color: #e2001a;
    border: 1px solid #e2001a;
    color: #fff;
}



@media (max-width:992px) {
    .about-cont {
        height: auto;
    }
}

/**End About**/

/*Start About Us Page*/

.aboutus_page-section {
    margin-bottom: 30px;
}

.aboutus_page-img {
    min-height: 410px;
    background-size: cover;
    background-position: center;
}

.aboutus_page-img img {
    height: 100%;
}

.paragraph {
    /*    min-height: 360px;*/
    height: 410px;
    padding: 20px;
    background-color: rgb(245, 245, 245);

}


.paragraph h2 {
    color: rgb(205, 19, 20);
    margin: 0;
}

.paragraph p {
    color: #74787D;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
}

@media (min-width:992px) {
    .paragraph {

        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .paragraph:before {
        position: absolute;
        display: block;
        content: "";
        width: 0;
        height: 0;
        top: 50%;
        transform: translatey(-50%);
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        z-index: 1;
    }

    .aboutus_page-section-left .paragraph:before {
        left: -60px;
        right: auto;
        border-right: 30px solid rgb(245, 245, 245);
        border-left: 30px solid transparent;
    }
    .aboutus_page-section-right .paragraph:before {
        left: auto;
        right: -60px;
        border-left: 30px solid rgb(245, 245, 245);
        border-right: 30px solid transparent;
    }
}

@media (max-width:992px) {
    .paragraph {
        height: auto;
    }
    .aboutus_page-img {
        height: 250px;
    }

}

/*End About Us Page*/

/**Start Products**/

.product {
    background: url("../images/about-page1.png") no-repeat fixed center;
    background-size: cover;
    color: #fff;
    height: auto;
    position: relative;
}

.product:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.product_content {
    position: relative;
    z-index: 9;
    padding: 60px 0;
}

.product h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    margin-bottom: 25px;
}

.product p {
    max-width: 850px;
    margin: 0 auto;
    font-size: 18px;
}


.product_block {
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    height: 250px;
    padding: 20px;
    transition: all ease-in-out 0.5s;
    margin-top: 40px;
}

.product_block:hover {
    background-color: #e2001a;
}

@media (min-width:992px) {
    .product_block:hover {
        margin-top: 20px;
    }
}

.product_block:hover .product_title {
    color: #fff;
}

.product_icon-1 {
    padding: 20px;
}

.product_icon-2 {
    display: none;
    padding: 20px;
}

.product_icon-1 img {
    height: 120px;
}

.product_icon-2 img {
    height: 120px;
}

.product_title {
    color: #000;

    transition: all ease-in-out 0.5s;

}

/**End Products**/

/*=12= Start Our Company Section*/

.our_company {
    padding: 60px 0;
    background-color: #FAFAF4;
}

.our_company-block {
    text-align: center;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    padding: 15px;
    width: 90%;
    margin: 0 15px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    transition: all ease-in-out 0.5s;
}

.our_company-block:hover {
    border: 1px solid #2e2e2e;
}

.our_company-block:hover h4 {
    color: rgb(205, 19, 20);

}

.our_company-block:hover img {
    transform: scale(1.1);

}

.our_company-block .img {
    height: 100px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.our_company-block .img img {
    max-height: 100%;
    display: inline-block;
    transition: all ease-in-out 0.5s;

}


.our_company-block h4 {
    color: #2e2e2e;
    transition: all ease-in-out 0.5s;

}


/*=12= End Our Company Section*/

/*Stat Contact Us Page*/

.contact_us {
    padding: 40px 0;
}

.contact_us-branch {
    margin: 30px 0;
}

.contact_us-branch h3 {
    color: #d11121;

}

.contact_us-branch ul li {
    padding: 4px 0;

}

.contact_us-branch ul li i {
    font-size: 20px;
}

.contact_us-branch ul li span {
    font-size: 18px;
    margin: 0 6px;
    display: inline-block;
}

.contact_us-branch ul li a {
    font-size: 18px;
    color: #2d2e30;
}

.contact_us-branch ul li a:hover {
    color: #d11121;

}

/*End Contact Us Page*/

/**Footer**/

footer {
    /*    background-color: rgb(46, 46, 46);*/
    color: #fff;
    background: url("../images/footer.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    height: auto;
    position: relative;
}

footer:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

footer .container {
    padding-top: 30px;
    padding-bottom: 20px;
}

/*
.footer-det {
    padding: 10px 20px;
}
*/

@media (max-width:992px) {
    footer {
        text-align: center;
    }
    .footer-det {
        margin-bottom: 30px;
    }
}

.footer-det p {
    line-height: 30px;
    font-size: 14px;
}

.footer-det ul {
    list-style: none;
    padding: 0;
}

.footer-det ul li {
    padding-bottom: 10px;
}

.footer-det ul li a {
    color: #fff;
    font-size: 14px;
    transition: all ease-in-out 0.3s;

}

.footer-det ul li a:hover {
    color: #d11121;
}

.clear {
    clear: both;
}

.footer-det h4 {
    font-size: 24px;
    /*    border-left: 2px solid #d11121;*/
    /*    padding-left: 12px;*/
    margin: 0;
    margin-bottom: 25px;
}

.get-title {
    width: 10%;
    height: 20px;
    float: left;
}

.get-title img {
    max-width: 100%;
    max-height: 100%;
}

.get-detali {
    width: 84%;
    float: left;
    margin-bottom: 5px;
}

.ab-foo-img {
    float: left;
    width: 25%;
}

.ab-foo-img img {
    width: 100%;
    padding: 1px;
    height: 60px;
}

.new-img {
    float: left;
    width: 18%;
    margin-right: 35px;
}

.new-img img {
    width: 100%;
}

.new-details {
    float: left;
    width: 66%;
    font-size: 12px;
}

.copyright {
    /*    background-color: #2e2e2e;*/
    /* padding: 10px 0; */
    color: #fff;
    text-align: center;
}

.copyright_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.copyright_content:before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    /* background-color: #f3f3f3; */
    top: -20px;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: rgb(205, 19, 20);
}

.goup_button {
    padding: 9px 9px;
    border-radius: 5px;
    background-color: #6d6b6b;
    position: fixed;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.goup_button:hover {
    background-color: #d11121
}


/**End Footer**/

footer .phone_number {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

footer .phone_number li {
    width: 50%;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: rgb(205, 19, 20);
}

@media (max-width: 1200px) {
    .choose {
        height: auto;
    }
    .cho-div {
        height: auto;
        padding: 0;
    }
    .carousel-caption {
        margin-bottom: 35px;
    }
}


/* End Footer*/

/*Start Career Page*/

.career_page {
    padding: 50px 0;
}

.career_page-title {
    margin: 0;
    color: #d11121;
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    text-transform: uppercase;
}

.career_page-tabs {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.09);
}

.career_page-tabs h3 {
    margin: 0;
    background-color: #2e2e2e;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.career_page-tabs li {
    text-transform: capitalize;
    color: rgba(46, 46, 46, 0.57);
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid rgba(46, 46, 46, 0.04);
    transition: all ease-in-out 0.5s;
    font-weight: 600;
}

.career_page-tabs li:hover {
    color: rgba(209, 17, 33, 0.63);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.08);

}

.career_page-tabs li.active {
    color: rgb(209, 17, 33);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.08);

}


.all_tabs-description h4 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: -5px;
    text-transform: capitalize;
}

.all_tabs-description p {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
    color: rgba(46, 46, 46, 0.58);
}

.all_tabs-description a {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(209, 17, 33);
    transition: all ease-in-out 0.3s;
}

.all_tabs-description a:hover {
    background-color: #2e2e2e
}

.all_tabs > div:not(.tab1) {
    display: none;
}

/*End Career Page*/

/*Start Career Details Page*/

.career_details {
    padding: 50px 0;
}

.career_details-content {
    width: 100%;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.career_details-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.career_details-img {
    width: 100%;
    height: 205px;
}

@media (max-width:992px) {
    .career_details-img {
        height: auto;
    }
}

.career_details-img img {
    max-height: 100%;
    max-width: 100%;
}

.career_details-date {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.career_details-date p {
    color: #2e2e2e;
    font-weight: 600;
}

.career_details-date span {
    margin-left: 10px;
    color: #d11121;
    margin: 0 4px;
}

@media (max-width:992px) {
    .career_details-date span {
        display: block;
    }
}

) .career_details-requirment {}

.requirment {
    margin-top: 30px
}

.requirment h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 10px;
}

.requirment p {
    color: rgba(46, 46, 46, 0.71)
}

.career_details-description {
    margin-top: 30px
}

.career_details-button {
    padding: 10px 20px;
    background-color: #d11;

    text-decoration: none;
    transition: all ease-in-out 0.4s;
    color: #fff;
    margin-top: 30px;
    display: inline-block
}

.career_details-button:hover {
    background-color: #000;
    color: #fff;
}

.career_details-location {
    margin-top: 30px;
}

.career_details-location span {
    font-weight: 600
}

.career_details-location img {
    height: 18px;
}

.career_details .requirment {}

/*End Career Details Page*/

/*Start Chanching in global page*/

.news {
    background-color: rgb(245, 245, 245);
    padding: 40px 0;
}

.news_block {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
}

@media (max-width:992px) {
    news_block {
        margin-bottom: 30px;
    }
}

.news_block:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);

}

.news_block:hover .news_description:before {
    background-color: #e2001a;
    left: 0;
    width: 100%;
}

.news_block:hover .news_img img {
    transform: scale(1.1);
}

.news_description {
    padding: 10px 20px;
    position: relative;
}

.news_description:before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 5px;
    background-color: transparent;
    bottom: 0;
    right: 0;
    border-radius: 155px;

    transition: all ease-in-out 0.5s;
}

.news_img {
    padding: 10px;
    overflow: hidden;
}

.news_img img {
    overflow: hidden;
    transition: all ease-in-out 0.5s;

}

.news h3 {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.news p {
    line-height: 24px;
    color: rgba(46, 46, 46, 0.6);
    margin: 15px 0;
    font-size: 16px;
    overflow: hidden;
    height: 100px;
}

.news .button {
    transition: all ease-in-out 0.3s;
    background-color: #000
}

.news .button:hover {
    background-color: #cd1314
}

.related_articles {
    box-shadow: 0px 5px 16px rgba(45, 45, 47, 0.15);
}


.related_articles-title {
    background-color: #2d2e2f;
    color: #fff;
    padding: 15px 10px;
    margin: 0;
    font-size: 20px;
}

.related_articles-linke {
    color: #2c2d2e;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    transition: all ease-in-out 0.5s;
}

.related_articles-linke:hover {
    color: #e2001a;
    border-bottom: 1px solid #e2001a;

}

.related_articles-linke h2 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
}

.related_articles-linke span {}

/*End Chanching in global page*/

.carousel-inner > .item {
    background-color: rgba(0,0,0,0.5);
    height: 100vh;

}

.carousel-inner > .item img {
    width: 100%;
}

@media (max-width:768px) {
    .carousel-inner > .item {
        height: 400px;
    }
}

.carousel-inner > .item img {
    opacity: 0.5;
    min-height: 100%;
}

/*Start Apply Page*/

.career_apply {
    padding: 50px 0;
}

.career_apply-content {
    max-width: 850px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.16);
    padding: 50px;
}

@media (max-width:768px) {
    .career_apply-content {
        padding: 10px;
        box-shadow: none;
    }
}

.career_apply input {
    padding: 8px 0 8px 20px;
    border: 1px solid #2e2e2e29;
    margin-bottom: 20px;
    width: 100%;
}

.career_apply input[type=file] {
    border: 0;
    padding: 15px;
    box-shadow: 0 0 10px #2e2e2e40;
}

.career_apply input:foucs,
.career_apply button {
    outline: none !important;
    border: 1px solid #c50000;
}

.career_apply button {
    text-align: center;
    display: inline-block;
    padding: 8px 25px;
    border: 0;
    color: #fff;
    background: #d11121;
    font-size: 16px;
}

.career_apply button:hover {
    background-color: #2e2e2e
}

/*End Apply Page*/

/*Start News Details Page*/

.news_details {
    padding: 40px 0;
}

.news_details-img {
    border-radius: 10px;
    position: relative;
}

.news_details-paragraph {
    font-size: 18px;
    color: #2d2e2f;
    line-height: 32px;
}

.news_details-img img {
    max-height: 100%;
    width: 100%;
    border-radius: 5px;
}

.news_details-title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.news_details-title h2 {
    margin: 0 margin-bottom:10px;
}

/*End News Details Page*/

a {
    text-decoration: none
}

/*Start Sector Landing Page*/

.sector_singlepage {
    padding: 50px 0;
}

.sector_singlepage-desc {
    /*     margin-bottom:30px; */
}

.sector_singlepage-desc h2 {
    font-size: 24px;
    font-weight: 600;
}

.sector_singlepage-desc h3 {
    font-size: 22px;
    font-weight: 600;
    color: #cd1314;
    text-decoration: solid;
}

.sector_singlepage-desc ul {
    margin: 10px 0;
}

.sector_singlepage-desc ul li {}




.sector_singlepage-img {
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
}

.sector_singlepage-img img {
    width: 100%;
    max-height: 350px;
    border-radius: 10px;
}


.sidebar_sectors {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
}

@media (max-width:992px) {
    .sidebar_sectors {
        margin-top: 30px;
    }
}

.sidebar_sectors-title {
    margin: 0;
    padding: 15px 10px;
    background: #2e2e2e;
    color: #fff;
}


.sidebar_sectors-list li {
    padding: 10px;
    line-height: 24px;
    border-bottom: 1px solid rgba(46, 46, 46, 0.2);
    transition: all ease-in-out 0.3s;

}

.sidebar_sectors-list li:hover {
    background-color: #cd1314
}

.sidebar_sectors-list li:hover a {
    color: #fff;
    margin-left: 15px
}

.sidebar_sectors-list li a {
    font-size: 14px;
    color: #2e2e2e;
    transition: all ease-in-out 0.3s;
}

/*End Sector Landing Page*/

/*Start Sitemap Page */

.sitemap_page {}

.sitemap_page-section {}

.sitemap_page-section .title {
    color: #fff;
    background-color: rgb(46, 46, 46);
    padding: 12px;
}

.sitemap_page-section ul li {
    padding: 6px 0;
    margin: 0 8px;
}

.sitemap_page-section ul li a {
    color: #
}

.sitemap_page-section ul li a:hover {
    color: rgb(205, 19, 20);
}

/*End Sitemap Page */

/***Font***/

* {
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none !important;
}
