.navbar-nav {
    float: left !important;
}

.about-img {
    background-image: url(../images/about.jpg);
    background-position: center;
    background-size: cover;
}

.footer-det h4 {
    border-left: transparent;
    padding-right: 12px;
}

.new-details {
    float: right;
}

.new-img {
    float: right;
    margin-left: 35px;
    margin-right: unset;
}

.get-detali {
    float: right;
}



.goup_button {
    left: 50px;
    right: auto;

}

body {
    font-family: cairo
}

/*Start Sector Block*/

.sector_block-list {
    padding-left: 15px
}

.sector_block-list li {
    padding-right: 10px;
    padding-left: 0;
}

.sector_block-list li:before {
    right: -14px;
}

/*End Sector Block*/

/*Start Sector Landing Page*/

.sidebar_sectors-list li:hover a {
    margin-right: 15px;
    margin-left: 0;
}

/*End Sector Landing Page*/

.get-title {
    float: right;

}

/*About Us Page Style*/

@media (min-width:992px) {


    .aboutus_page-section-left .paragraph:before {
        left: auto;
        right: -60px;
        border-left: 30px solid rgb(245, 245, 245);
        border-right: 30px solid transparent;


    }

    .aboutus_page-section-right .paragraph:before {
        left: -60px;
        right: auto;
        border-right: 30px solid rgb(245, 245, 245);
        border-left: 30px solid transparent;
    }
}

/*About Us Page Style*/

/*Start Product Page Style*/

.product_page-list li {

    /*    margin-left: 20px;*/
    margin-right: 30px;
}

.product_page-button {
    float: right;
}

.product_page-list li:before {
    right: -30px;
    left: auto;
    /*change*/
}

/*End Product Page Style*/

/*Start  Glopal Form Style*/

form input,
form textarea {
    padding: 10px 10px 10px 0;
}

/*End Glopal Form Style*/

/***Font***/

.footer-det ul li {
    direction: ltr;
}

.footer-det ul li a {
    direction: ltr;
}

.footer-det ul li a bdi {
    direction: ltr;
}

.contact_us-branch ul li span {
    direction: ltr;
}

bdi {
    direction: ltr !important;
}

body,
* {
    font-family: 'Cairo', sans-serif;
}

/*Start Float Form*/
@media (min-width:992px) {
    #float_form {

        right: auto;
        left: 10px;
        /*Change*/
    }
}