.navbar-default {
    /* background-color: rgb(245, 245, 245); */
    border-radius: 0;
}

/***about page***/

.about-bg {

    position: relative;

    background-image: url(../images/slider_02.png);

    height: 250px;

    width: 100%;
}

.about-bg h1 {
    font-size: 30px;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin: 0;
    line-height: 46px;
    text-align: center;
}

@media (max-width:776px) {
    .about-bg h1 {
        font-size: 16px;
    }
}

.about-bg:before {

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(46, 46, 46, 0.54); */
}

.page_title {
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page_title h1 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;

}



.about .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: transparent;
}

.about .nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: transparent;
    padding: 10px;
    border-bottom-color: transparent;
    color: #d11121;
}

.about .nav-tabs>li>a,
.nav-tabs {
    border-bottom: transparent;
    color: #1e222c;
}

.about .branchs {
    margin: 0;
    column-count: 3;
    width: 50%;
    list-style-type: none;
    padding: 0;
}

.about h3 {
    font-size: 22px;
    margin-top: 33px;
}

.form-card {
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 20px;
}

.form-group {
    margin: 0;
}

.form-card input:focus,
.form-card textarea:focus {
    outline: none !important;
}

@media (max-width:768px) {
    .form-card {
        /*        padding: 50px 15px;*/
    }
}

.form-card button {
    background-color: #e2001a;
    border: transparent;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    display: block;
    trasition: all ease-in-out 0.5s;
}

.form-card button:hover {
    background-color: #2d2e30;
}

.form-card .form-control {
    border-radius: 0;
}

/***about page***/

/***news-details***/

.news-details iframe {
    height: 500px;
    margin: 50px 0;
}

@media (max-width:768px) {
    .news-details iframe {
        height: 250px;
    }
}

.form-card h3 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.news-details h3,
.news-details span {
    color: #d11121;
}

/***news-details***/

/***news***/

.news h3 {
    color: #d11121;
    font-size: 24px;
    /* margin: 25px 0; */
}

.news img {
    width: 100%;
    height: 200px;
}

.news .news-name {
    color: #d11121;
    font-size: 18px;
    margin: 10px 0;
    line-height: 24px;
    overflow: hidden;
    height: 46px;
}

.news span {
    font-size: 16px
}

/*Sector Block*/

.news-title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

}

.news .button {
    background-color: rgb(44, 46, 47);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
}

.news .date {
    /* float: right; */
}

.sector_block {
    display: inline-block;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.5s;
}

.sector_block:hover {
    transform: scale(1.1);
}

.news .sector_block-list {
    height: 171px;
    overflow: hidden;
}

.sector_block-list {
    padding: 0;
    list-style: none;
    padding-right: 15px;

}

.sector_block-list li {
    position: relative;
    line-height: 24px;
    padding-left: 20px;
    color: rgba(46, 46, 46, 0.76);
}

.sector_block-list li:before {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.62);
    top: 13px;
    left: 0;
}



/***news***/

/***Products***/

.product-card {
    border: 1px solid #ccc;
    padding: 25px 10px;
}

/***Products***/

/***About***/

.about-img2 img {
    width: 100%;
}

.target {
    background-image: url(../images/ascon.jpg);
    width: 100%;
    background-size: cover;
    background-color: transparent;
}

.target .color-over {
    background-color: rgba(235, 235, 235, 0.5);
    padding: 60px 0;
    height: 100%;
}

.target h3,
.force h3 {
    font-size: 24px;
    color: #d11121;
    padding: 25px 0;
}

.force {
    padding: 60px 0;
}

/***About***/

@media (max-width: 1200px) {
    .form-card {
        height: auto;
    }
}

a,
a:hover {
    text-decoration: none
}

.navbar-default .navbar-nav>li>a {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 18px;
    color: #2e2e2e;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active {
    background-color: rgb(205, 19, 20);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: rgb(205, 19, 20);
    color: #fff
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

@media (max-width:768px) {
    .navbar-default .navbar-collapse {
        /*        margin-top: -1px;*/
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Start  Glopal Form Style*/
/*Start Float Form*/

@media (min-width:992px) {
    #float_form {
        background: #fff;
        padding: 10px;
        width: 250px;
        position: fixed;
        z-index: 999;
        bottom: 30px;
        left: auto;
        right: 10px;
        /*Change*/
    }

    #float_form .row>div {
        width: 100%;
    }

    #float_form h3 {
        margin: 8px 0;
    }

    /*End Float Form*/



}

.form_content {
    padding: 20px 50px 50px 50px;
    box-shadow: 0 0 10px #2e2e2e3d;
    border-radius: 12px;
    margin-bottom: 30px;
}


.form_content h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #cd1314;
    margin: 40px 0;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 0 10px 10px;
    border: 1px solid #c1c1c1;
}

form textarea {
    height: 100px
}

form input:focus,
form textarea:focus {
    outline: none;
    border: 1px solid #cd1314
}

.form_content button {
    background-color: #cd1314;
    color: #fff;
    border: 0;
    padding: 8px 25px;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}

.form_content button:hover {
    background-color: #2e2e2e
}

/*End Glopal Form Style*/

/*Start Custum Slider of Our Company*/

.our-team-slider .slick-arrow {
    font-size: 0;
    border: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    font-family: 'FontAwesome';
    cursor: pointer;
}

.our-team-slider .slick-arrow {
    z-index: 9;
    top: 50%;
    position: absolute;
    cursor: pointer;
}

.our-team-slider .slick-arrow:before {
    position: absolute;
    display: block;
    color: #17112d;
    font-size: 13px;
    right: 15px;
}

.our-team-slider .slick-arrow:hover {
    background-color: #2e2e2e;
}

.our-team-slider .slick-arrow:hover:before {
    color: #fff
}

.our-team-slider .slick-prev:before {
    content: "\f053";
}

.our-team-slider .slick-next:before {
    content: "\f054";
}

.our-team-slider .slick-prev {
    left: 15px;
}

.our-team-slider .slick-next {
    right: 15px;
}


/*End Custum Slider of Our Company*/

/*Start Product Page Style*/

.product_page {
    padding: 40px 0;
}

.product_page-title {
    text-align: center;
}

.product_page-title h2 {
    font-size: 22px;
    margin: 0;
    font-weight: 600;
}


.product_page-section {
    box-shadow: 0 0 13px 0px #2e2e2e47;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product_page-section:last-child {
    margin-bottom: 0;
}

.product_page-section h3 {
    font-size: 20px;
    color: #e2001a;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}

.product_page-section h4 {
    font-size: 20px;
    text-align: center;
    color: #e2001a;
    margin-top: 30px;
    margin-bottom: 15px;
}

.product_page-section p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.product_page-list {
    /*    height: 246px;*/
    overflow: hidden;
}

.product_page-list-js {
    display: none;
}

.product_page-list.is {
    height: auto;
}

.product_page-list li {
    font-size: 18px;
    padding: 8px 0;
    line-height: 36px;
    position: relative;
    /*    margin-left: 20px;*/
    margin-left: 30px;
}

.product_page-list li:before {
    position: absolute;
    display: block;
    content: "\f046";
    font-family: "FontAwesome";
    color: rgb(205, 19, 20);
    border-radius: 10px;
    top: 12px;
    left: -30px;
    right: auto;
    /*change*/
}

.product_page-button {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

.product_page-button:hover {
    border: 1px solid rgb(205, 19, 20);
    color: rgb(205, 19, 20);

}

.product_page-button:hover i {
    color: rgb(205, 19, 20);
}

.product_page-button i {
    margin: 0 8px;
    font-size: 18px;
    color: #2e2e2e;
}


.button_hide-js {
    display: none;
    color: rgb(205, 19, 20);
    border: 1px solid rgb(205, 19, 20);

}

.button_hide-js i {
    color: rgb(205, 19, 20);
    position: relative;
    top: 5px;
}

/*End Product Page Style*/

/*changeLanguage*/

p {
    line-height: 30px;
}

.navbar-toggle {
    margin-top: 25px;
}

.changeLanguage {
    background-color: #2e2e2e;
    color: #fff !important;
    border-radius: 5px;
}

.single_page {
    padding: 40px 0;
}

[data-src] {
    -webkit-background-size: cover;
    background-size: cover;
}

/*Start Slider Style**/

.carousel-indicators li {
    width: 3px;
    height: 20px;
    color: #fff;
    border: 0;
    margin: 0 4px;
    border-radius: 100px;
    background-color: #fff;
}

.carousel-indicators li.active {
    height: 40px;
    width: 3px;
    border-radius: 0;
    background-color: #e2001a;
}

/*End Slider Style**/

/*********Start StylLoading************/




.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.loading-bg {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cd1314;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef6461, #cd1314);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e04b4c, #cd1314);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}



.show_popup-js {
    top: -50px;
    display: inline-block;
    background-color: #202930;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 100%;
    height: 50px;
    text-align: center;
    width: 50px;
    line-height: 50px;
    font-size: 16px;
    transition: all ease-in-out 0.5s;
    animation: move 2s infinite;
}

.show_popup-js:hover {
    color: #ffffff;
    background-color: #ed1c24;
}

.popup_services {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.62);
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.popup_services-close {
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
}

.popup_services-close:hover {
    color: rgb(205, 19, 20);
}

.popup_services-content {
    position: absolute;
    width: 60%;
    height: 64%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 30px;
    border-radius: 10px;
}

.news_details-video {
    height: 100%;
    padding-bottom: 30px
}

.news_details-video iframe {
    height: 100%;
}

@media (max-width:992px) {
    .popup_services-content {
        padding: 10px;
    }

    .popup_services-content {
        width: 90%;
        height: 90%;
    }
}


@-webkit-keyframes move {
    from {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    to {
        box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2);

    }
}

@-moz-keyframes move {
    from {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    to {
        box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2);

    }
}